# 1) Miuul- List Comprehensions

In [2]:
# Görev 1 - List Comprehension yapısı kullanarak car_crashes verisindeki
# nümerik değişkenlerin isimlerini büyük harfe çeviriniz ve başına num ekleyiniz.

import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [7]:
df.columns = ["NUM_" + col.upper() if df[col].dtype != "O" else col.upper() for col in df.columns]
# Başına num ekle - büyük harf yap, eğer eleman obje(nesne) değilse- else yine büyük harf yap
df.columns

Index(['NUM_NUM_TOTAL', 'NUM_NUM_SPEEDING', 'NUM_NUM_ALCOHOL',
       'NUM_NUM_NOT_DISTRACTED', 'NUM_NUM_NO_PREVIOUS', 'NUM_NUM_INS_PREMIUM',
       'NUM_NUM_INS_LOSSES', 'ABBREV'],
      dtype='object')

In [8]:
# Görev 2 - List comprehension yapısı kullanarak car_crashes verisinde
# isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.
#Tüm değişkenlerin isimleri büyük harf olmalı.Tek bir list comprehension yapısı ile yapılmalı.

df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [9]:
[col.upper() + "_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

In [14]:
# Görev 3 - List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden
# farklı olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

og_list = ["abbrev", "no_previous"]

df = sns.load_dataset("car_crashes")

new_cols = [ col for col in df.columns if col not in og_list]

new_cols

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

In [15]:
new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63