# 1) Miuul-Python Alıştırmalar

In [1]:
# Görev1 : Verilen değerlerin veri yapılarını inceleyiniz.

x = 8

y = 3.2

z = 8j+18

a = "Hello World"

b = True

c = 23 < 22

l = [1, 2, 3, 4]

d = {"Name": "Jake", "Age" : 27,
"Adress": "Downtown"}

t = ("Machine Learning", "Data Science")

s = {"Python", "Machine Learning", "Data Science"}

In [7]:
#Çözüm1:
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(l))
print(type(d))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [12]:
# Görev 2:  Verilen string ifadenin tüm harflerini büyük harfe çeviriniz.

# Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

text = "The goal is to turn data into information, and information into insight."

In [11]:
# Çözüm 2:
print(text.upper().replace(",","").replace(".","").split())

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [25]:
# Görev 3 - Verilen listeye aşağıdaki adımları uygulayınız.

lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

#Adım 1 : Verilen listenin eleman sayısına bakınız
print(f"listenin eleman sayısı : {len(lst)}")

# Adım 2: Sıfırıncı ve onuncu indeksteki elemanlarını çağırınız.
print(f"listenin sıfırıncı indeksi : {lst[0]}, onuncu indeksi : {lst[10]}")

# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesini oluşturunuz.
print(lst[:4])

# Adım 4: Sekizinci indeksteki elemanı siliniz.
lst.pop(8)
print(lst)

# Adım 5: Yeni bir eleman ekleyiniz.
lst.append("X")
lst

# Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.
lst.insert(8, "N")
lst

listenin eleman sayısı : 11
listenin sıfırıncı indeksi : D, onuncu indeksi : E
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

In [35]:
# Görev 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

dict = {'Christian': ["America", 18],
        'Daisy': ["England", 12],
        'Antonio': ["Spain", 22],
        'Dante': ["Italy", 25]}

# Adım 1: Key değerlerin erişiniz.

print(f"sözlüğün key değerleri : {dict.keys()}")

# Adım 2: Value'lara erişiniz.

print(f"sözlüğün value değerleri : {dict.values()}")

# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

dict["Daisy"][1] = 13
dict

# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

dict['Ahmet'] = ['Turkey',24]
dict

# Adım 5: Antonio'yu dictionary'den siliniz.

dict.pop("Antonio")
dict

sözlüğün key değerleri : dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
sözlüğün value değerleri : dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [54]:
# Görev 5: Argüman olarak bir liste alan, 
# listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.
# ipucu: Liste elemanlarına tek tek erişmeniz gerekmektedir.
# ipucu: Her bir elemanın çift veya tek olma durumunu kontrol etmekiçin  % yapısını kullanabilirsiniz.
# l = [2,13,18,93,22]

l = [2,13,18,93,22]

def func(list):
    even_list = []
    odd_list = []
    for i in list:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list
even_list, odd_list = func(l)
print(even_list, odd_list)

[2, 18, 22] [13, 93]

In [55]:
# Görev - 6: Aşağıda verilen listede mühendislik ve tıp fakültelerinde
# dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken
# son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

for i, ogrenci in enumerate(ogrenciler,1):
    
    if i < 4:
        print("Mühendislik Fakültesi", i, ". öğrenci", ogrenci)
    
    else:
        print("Tıp Fakültesi", i, ". öğrenci", ogrenci)

Mühendislik Fakültesi 1 . öğrenci Ali
Mühendislik Fakültesi 2 . öğrenci Veli
Mühendislik Fakültesi 3 . öğrenci Ayşe
Tıp Fakültesi 4 . öğrenci Talat
Tıp Fakültesi 5 . öğrenci Zeynep
Tıp Fakültesi 6 . öğrenci Ece

In [56]:
# Görev 7 - Aşağıda 3 adet liste verilmiştir.
# Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır.
# Zip kullanarak ders bilgilerini bastırınız.

ders_kodu = ["CMP1005", "Psy1001", "Huk1005", "Sen2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

list(zip(ders_kodu, kredi, kontenjan))

[('CMP1005', 3, 30),
 ('Psy1001', 4, 75),
 ('Huk1005', 2, 150),
 ('Sen2204', 4, 25)]

In [57]:
# Görev 8 - Aşağıda 2 adet set verilmiştir. Sizden istenilen:
# eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
# eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def kume(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

kume(kume1, kume2)

{'lambda', 'miuul', 'qcut', 'function'}